include ../data/menu.pug

block vars
  - var headerMainLogo = '';

header.header-main
  div(class=`header-main__logo ${headerMainLogo}`)
    div.header-main__wrapper
      a.header-main__logo-link(href='index.html')
        svg.header-main__logo-mobile(width='230' height='30' aria-label="Логотип")
          use.header-main__logo-img(xlink:href='#...')
        svg.header-main__logo-tablet(width='372' height='104' aria-label="Логотип")
          use.header-main__logo-img(xlink:href='#...')
        svg.header-main__logo-desktop(width='372' height='155' aria-label="Логотип")
          use.header-main__logo-img(xlink:href='#i...')
  nav.nav-main.header-main__nav.active-menu.no-js
    div.header-main__wrapper
      button.nav-main__open-menu
        span
      ul.nav-main__items
        each item, name in menu
          li.nav-main__item
            if name === pageName
              a.nav-main__link= item[1]
            else
              a.nav-main__link(href= item[0])= item[1]
