$mobile-width: 320px;
$only-mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-padding: 20px;
$tablet-padding: 65px;
$desktop-padding: 120px;

$black-color: #000000;
$white-color: #ffffff;
$grey-color-hsl363636: #242424;

$font-size-very-big: 1px;
$font-size-any-biggest: 1px;
$font-size-biggest: 1px;
$font-size-any-big: 1px;
$font-size-big: 1px;
$font-size-medium-big: 1px;
$font-size-medium: 1px;
$font-size-medium-small: 1px;
$font-size-small: 1px;
$font-size-any-small: 1px;
$font-size-smallest: 1px;
$font-size-any-smallest: 1px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height-any-biggest: 1px;
$line-height-biggest: 1px;
$line-height-any-big: 1px;
$line-height-big: 1px;
$line-height-medium-big: 1px;
$line-height-medium: 1px;
$line-height-medium-small: 1px;
$line-height-any-small: 1px;
$line-height-smallest: 1px;
